@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold leading-[35px] tracking-[-0.33px];
  }
  h2 {
    @apply text-xl font-bold leading-[29px] tracking-[-0.25px];
  }
  h3 {
    @apply text-lg font-bold leading-[26px] tracking-[-0.25px];
  }
  h4 {
    @apply text-sm font-bold leading-5 tracking-[-0.2px];
  }
}

@layer components {
  .custom-body-1 {
    @apply text-base leading-[23px];
  }

  .custom-body-2 {
    @apply text-[15px] leading-[22px];
  }

  .custom-body-3 {
    @apply text-[13px] font-semibold leading-[19px];
  }

  .btn {
    @apply h-11 w-40 rounded-lg text-center text-sm font-bold transition-all duration-300;
  }

  .purple {
    @apply bg-purple text-neutral-silver hover:bg-purple-light hover:text-neutral-pinky;
  }

  .blue {
    @apply bg-blue text-neutral-silver hover:bg-blue-indigo hover:text-neutral-pinky;
  }

  .midnight {
    @apply bg-blue-midnight text-neutral-silver hover:bg-neutral-slate hover:text-neutral-pinky;
  }

  .red {
    @apply bg-red text-neutral-silver hover:bg-red-light hover:text-neutral-pinky;
  }

  .btn-secondary {
    @apply inline-flex h-5 w-24 items-center justify-center gap-4 rounded-lg text-sm font-bold transition-all duration-300 hover:underline;
  }

  .transparent {
    @apply inline-flex h-5 w-24 items-center justify-center gap-4 text-sm font-bold text-neutral-slate transition-all duration-300 hover:underline;
  }

  .dark-blue {
    @apply h-14 w-40 rounded-lg bg-blue-midnight text-neutral-silver;
  }

  .page-container {
    @apply flex h-screen flex-col bg-neutral-silver lg:flex-row lg:overflow-auto;
    /* @apply flex h-full flex-col bg-neutral-silver md:h-screen lg:h-screen lg:flex-row lg:overflow-auto; */
  }

  .border-planned {
    border-top-color: #f49f85;
  }

  .border-progress {
    border-top-color: #ad1fea;
  }

  .border-live {
    border-top-color: #62bcfa;
  }

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.purple.DEFAULT) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  .loader-mini {
    width: 2rem;
    height: 2rem;
    animation: rotate 1.5s infinite linear;
  }
}
